<!-- src/app/components/inicio/inicio.component.html -->



<ion-card>
    <img alt="Silhouette of mountains" src="/assets/Arbol.jpg" />
    <ion-card-header>
      <ion-card-title>Sobre Nosotros</ion-card-title>
      <ion-card-subtitle>🎄ECO-ARBOL🎄</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>En 🎄ECO-ARBOL🎄, puedes encontrar tus arboles favoritos, a un precio único, para dárselos a la persona que anhelas, tu amor prohibido o si estás solo para decorar tu casa.</p>
      <p>¡¡¡BIENVENIDO!!!</p>
    </ion-card-content>
</ion-card>
  
  <footer class="footer">
    <p>&copy; 2024 Florería Bella. Todos los derechos reservados.</p>
  </footer>
  