/* src/app/components/inicio/inicio.component.css */

/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    padding: 0 16px;
  }
  
  /* Estilo para el ion-card */
  ion-card {
    width: 100%; /* Hace que el card ocupe el 100% del ancho disponible */
    max-width: 600px; /* Limita el tamaño máximo del card */
    margin: 20px auto; /* Centra el card y le da un margen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  /* Estilo para las imágenes dentro del card */
  ion-card img {
    height: 30vh;
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del card */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
  }
  
  /* Estilo para el contenido del card */
  ion-card-header {
    background-color: #f4f4f4; /* Fondo claro para el header */
    padding: 10px 16px; /* Espaciado interno */
    text-align: center;
  }
  
  ion-card-title {
    font-size: 1.6rem; /* Tamaño de fuente más grande para el título */
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 1.2rem; /* Tamaño de fuente más pequeño para el subtítulo */
    color: #888;
  }
  
  /* Estilo para el contenido del card */
  ion-card-content {
    padding: 16px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente estándar */
    color: #333; /* Color de texto */
  }
  
  /* Estilo para el footer */
  .footer {
    background-color: #311761; /* Fondo del footer */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrado del texto */
    padding: 10px 0; /* Espaciado vertical */
    margin-top: auto; /* Empuja el footer hacia abajo */
  }
  
  /* Responsividad para pantallas pequeñas */
  @media (max-width: 600px) {
    ion-card {
      max-width: 100%; /* El card ocupará el 100% del ancho en pantallas pequeñas */
      margin: 10px; /* Ajusta el margen */
    }
  
    ion-card-header {
      padding: 8px 12px; /* Menos padding en pantallas pequeñas */
    }
  
    ion-card-title {
      font-size: 1.4rem; /* Ajusta el tamaño del título */
    }
  
    ion-card-subtitle {
      font-size: 1rem; /* Ajusta el tamaño del subtítulo */
    }
  
    ion-card-content {
      font-size: 0.9rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
  
    .footer {
      font-size: 0.8rem; /* Reduce el tamaño de la fuente en el footer */
      padding: 8px 0; /* Reduce el padding del footer */
    }
  }
  