<!-- src/app/components/inicio/inicio.component.html -->
<div class="PRIN">
    
    <main>
        <section id="nosotros" class="about">
            <h2>Sobre Nosotros</h2>
            <p>En 🎄ECO-ARBOL🎄, puedes encontrar tus arboles favoritos, a un precio unico, para darselas a la persona que anhelas, tua amor prohibido o si estas solo para decorar tu casa.
            </p>
            <p> ¡¡¡BIENVENIDO!!!
            </p>
        </section>
    </main>
</div>


<footer class="footer">
    <p>&copy; 2024 Florería Bella. Todos los derechos reservados.</p>
</footer>