<!-- src/app/components/navbar/navbar.component.html -->

<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/" class="navbar-link"><img src="/assets/House.png" alt="Inicio" class="navbar-icon"> Inicio</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/productos" class="navbar-link"><img src="/assets/Flor.png" alt="Inicio" class="navbar-icon">Lista de Productos</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/cart" class="navbar-link"><img src="/assets/Carrito.png" alt="Inicio" class="navbar-icon"> Carrito</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/contactos" class="navbar-link"><img src="/assets/Cont.png" alt="Inicio" class="navbar-icon">Contactos</a>
    </li>
  </ul>
</nav>


  