<!-- src/app/components/navbar/navbar.component.html -->

<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/" routerLinkActive="active" class="navbar-link">
        <img src="/assets/House.png" alt="Inicio" class="navbar-icon"> Inicio
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="/productos" routerLinkActive="active" class="navbar-link">
        <img src="/assets/Flor.png" alt="Productos" class="navbar-icon"> Lista de Productos
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="/cart" routerLinkActive="active" class="navbar-link">
        <img src="/assets/Carrito.png" alt="Carrito" class="navbar-icon"> Carrito
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="/contactos" routerLinkActive="active" class="navbar-link">
        <img src="/assets/Cont.png" alt="Contactos" class="navbar-icon"> Contactos
      </a>
    </li>
  </ul>
</nav>
