<!-- src/app/components/navbar/navbar.component.html -->
<ion-menu contentId="main-content" class="custom-menu">
  <ion-header>
    <ion-toolbar class="menu-header">
      <ion-title>Menu Contenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ul class="menu-list">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.path" class="menu-link">{{ item.title }}</a>
      </li>
    </ul>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <router-outlet></router-outlet>
  </ion-content>
</div>